<div>
      <label for="my-name">Name:</label>
      <input id="my-name" type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
</div>
<div ng-view></div>

<h3> The Dashboard </h3>
 <p>

  <select class="selectpicker">
    <% @users.each do |user| %>
      <option data-subtext="11"><%=link_to user.name, user %></option>
    <% end %>
      <option data-subtext="32">John Kennedy</option>
  </select>
 </p>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Patient Details
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
            <div class="well">

                <address>
                  <strong>The White House</strong><br>
                    123 Potomac River Ave.<br>
                    Washington, DC 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890  
                  <br><span class="label">Email</span> <span>thepresident@us.com</span>     
                  <br><span class="label">DOB</span> <span>10-17-1930</span>     
                  <br><span class="label">Gender</span> <span>F</span>     
                  <br><span class="label">SSN</span> <span>123-404-808</span>  
                </address>


              <div class="">
                <table class="table table-striped table-hover">
                  <!--<caption>Allergies</caption>-->
                  <thead>
                    <tr><th>Allergies</th></tr>
                  </thead>
                  <tbody>
                    <tr><td>Allergy 1</td></tr>
                    <tr><td>Allergy 2</td></tr>
                    <tr><td>Allergy 3</td></tr>
                  </tbody>
                </table>  
              </div>
          </div>

      </div>
    </div>
  </div>
</div>

<div class="well">
<div id="main-content">
  <ul class="nav nav-tabs" id="mainTabs">
    <li><a title="some title" href="#device" data-toggle="tab">Device</a></li>
    <li><a title="some title" href="#immunization" data-toggle="tab">Immunization</a></li>
    <li><a title="some title" href="#pharmacy" data-toggle="tab">Pharmacy</a></li>
</div>

<div class ="tab-content" >
  <div class="tab-pane active" id="device">
    
    <div id="placeholder" style="width:600px;height:300px"></div>
  </div>
    <div class="tab-pane active" id="immunization">
    hello this is the immunization panel
  </div>
    <div class="tab-pane active" id="pharmacy">
    
    <div class="well">
      <input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Anthrax&quot;,&quot;Heppas&quot;,&quot;The Plague&quot;,&quot;Whooping Cough&quot;,&quot;Allergic Mushrooms&quot;]">
      <button type="submit" class="btn"> <i class="icon-ok"></i> Place Order</button>
      
    </div>
    <h4>Existing Drugs</h4>

    <table class="table table-striped table-hover">
      <!--<caption>A description</caption>-->
      <thead>
        <tr><th>Administration Date</th><th>Name</th></tr>
      </thead>
      <tbody>
        <tr><td>2013-02-14</td><td>Anthrax</td></tr>
        <tr><td>2013-04-25</td><td>Hep A (IJA)</td></tr>
        <tr><td>2013-05-05</td><td>Japanese Flu</td></tr>
      </tbody>
    </table>

  </div>
</div>
</div>
