:javascript
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
  var pusher = new Pusher('a926c006851d3fdd0e54');
  var channel = pusher.subscribe('test_channel');
  channel.bind('my_event', function(data) {
    $("#accordion").prepend(data.message);
  });
%h3 Rx Client Real-Time Messages
%div.container
  %div{:class => "accordion", :id => "accordion"}
